# Ejercicio 1 
Transformar cadenas

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average , the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

dividir el texto

In [2]:
text_div = text.split('. ')
text_div

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average , the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

palabras clave para búsqueda

In [3]:
palabras_clave = ["average", "temperature", "distance"]

bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave

In [7]:
for st in text_div:
    for palabras_clave in palabras_clave:
        if palabras_clave in st:
            print(st)
            break

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

cambiar C a Celsius

In [8]:
for st in text_div:
    for palabras_clave in palabras_clave:
        if palabras_clave in st:
            print(st.replace(" C", " Celsius"))

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

# ejercicio 2

tierra y luna

In [1]:
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [2]:
title = f'gravedad sobre la {planet} y la {name}'

In [3]:
plantilla = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

In [4]:
template = f"""{title.title()} 
{plantilla} 
""" 
print(plantilla)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

marte

In [13]:
name = 'ganimedes'
gravity = 0.00143 # kms
planet = 'marte'

In [14]:
print(plantilla)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [15]:
new_template = """ datos de gravedad sobre: {name}
--------------------------------------------------
nombre del planeta: {planet}
gravedad en {name}: {gravity} m/s2 """
print(new_template.format(name=name, planet=planet, gravity=gravity))

 datos de gravedad sobre: ganimedes
--------------------------------------------------
nombre del planeta: marte
gravedad en ganimedes: 0.00143 m/s2

In [16]:
print(new_template.format(name=name, planet=planet, gravity=gravity * 1000))

 datos de gravedad sobre: ganimedes
--------------------------------------------------
nombre del planeta: marte
gravedad en ganimedes: 1.4300000000000002 m/s2